.clearfix{
	clear: both;
}

.container{
	
	width: 430px;
	margin: 50px auto;
	
}

.container form{
	background-color: #FFEBCA;
	padding: 2px;
}

.container header{
	background-color: #FFCC66;
	color: #993300;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	padding: 5px;
	font-size: 1.35em;
}

.container section{
	line-height: 2em;
	padding: 5px;
}

.container section .txtName{
	min-width: 40%;
	display: inline-block;
}

.container section input[type="text"]{
	width: 48%;
}

#ich{
	background-color: #FFCCCC;
}

.container footer{
	text-align: center;
}